<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fine.plugins.xiaomi">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.xiaomi.sdk.permission.PAYMENT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.xiaomi.permission.AUTH_SERVICE" />

    <application android:name="com.fine.sdk.dispatcher.MiApplication">

        <meta-data
            android:name="AppID"
            android:value="APPID_2882303761517337997" />
        <meta-data
            android:name="AppKey"
            android:value="APPKEY_5961733745997" />
        <meta-data
            android:name="MiLinkGroupAppID"
            android:value="@integer/MiLinkGroupAppID" />

        <activity
            android:name="com.xiaomi.gamecenter.sdk.ui.MiActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.xiaomi.gamecenter.sdk.ui.PayListActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.xiaomi.hy.dj.HyDjActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <service
            android:name="com.xiaomi.gamecenter.push.GamePushService"
            android:exported="true">
            <intent-filter>
                <action android:name="__FineSDK_PackageName__.MI_GAME_PUSH" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.xiaomi.gamecenter.push.OnClickReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.hy.push.client.ONCLICK" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="__FineSDK_PackageName__.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
